:global {
  @import "../lib/codemirror.scss";
}
@import "../lib/manjari.scss";

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Manjari", sans-serif;
}

.subtitle {
  font-size: 5vh;
  opacity: 0.5;
}

.checkboxLabel {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    margin-left: 16px;
  }
}
.center {
  display: flex;
  text-align: center;
  justify-content: center;
}
.middle {
  display: flex;
  align-items: center;
}
.scrollMiddle {
  display: flex;
  justify-content: center;
  height: 100%;
  overflow: auto;
}
.centerCode {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.boxShadowDiv {
  width: 10vh;
  height: 9.5vh;
  padding-top: 0.5vh;
  font-size: 3.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
}

.me {
  font-size: 5vh;
  display: flex;
  align-items: center;

  svg,
  img {
    margin-right: 1rem;
  }
}
.twitter {
  font-size: 12vh;
  margin-bottom: 6vh;
}

.largerFont {
  font-size: 4vh;

  input[type="radio"] {
    width: 2em;
    height: 2em;
  }
}

.hugeText {
  text-align: center;
  font-size: 5vh;

  .main,
  .pink,
  .orange {
    font-size: 10vh;
  }
  .main {
    color: #f99e26;
  }
  .main:nth-of-type(2n) {
    color: #f92672;
  }
}
.centerWithHeader {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img:first-of-type:last-of-type {
    height: 50vh;
  }
}
.spread {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.sidebyside {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
}
.displayRight {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-items: center;
}
.flexDown {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.orange {
  color: #f99e26;
}
.pink {
  color: #f92672;
}

.quote {
  quotes: none;

  &:before {
    content: "❝";
    position: relative;
    top: 0.8em;
    text-align: left;
  }
  &:after {
    content: "❞";
    text-align: right;
  }
  &:before,
  &:after {
    display: block;
    color: #f99e26;
    font-size: 300%;
  }
}
.quoteHighlight {
  display: block;
  font-size: 200%;
  color: #f92672;
}

.baseDemoInput {
  font-size: 9vh;
  padding: 2vh;
  border: 1vh solid transparent;
  border-radius: 0.5vh;
  outline: none;
}
.baseDemoButton {
  font-size: 5vh;
  padding: 2vh;
  border: 1vh solid #999;
  background: #eee;
  color: #111;
  border-radius: 0.5vh;
  outline: none;
  transition: 0.1s ease transform;
  transform: translateZ(0);
  &:hover {
    cursor: pointer;
    background: #ccc;
  }
  &:active {
    transform: translate(0.1vh, 0.1vh);
  }
  &:focus {
    border-color: #1cf;
  }
}

.nowrap {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.fixedImageContainer {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    display: block;
    max-width: 100%;
  }
}

.wasd {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5vh;
  align-items: center;
  justify-items: center;

  &:after {
    grid-column-start: span 3;
    margin-top: 1vh;
  }

  :valid + &:after {
    content: "('d' key pushed)";
  }
  :invalid + &:after {
    content: "('a' key pushed)";
  }
  :placeholder-shown + &:after {
    content: "(No keyboard input)";
    opacity: 0.5;
  }
}
.wasdW,
.wasdA,
.wasdS,
.wasdD {
  width: 10vh;
  height: 10vh;
  border: 1vh solid #111;
  border-radius: 2vh;
  background: #eee;
  color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5vh;
  transition: 0.3s ease background-color, 0.3s ease transform;
  transform: translateZ(0);
}
.wasdW {
  grid-column-start: span 3;
}
:valid:not(:placeholder-shown) + .wasd .wasdD {
  background-color: #fcc;
  transform: scale(1.1) rotate(10deg);
}
:invalid:not(:placeholder-shown) + .wasd .wasdA {
  background-color: #fcc;
  transform: scale(1.1) rotate(-10deg);
}

.introImg {
  &,
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    image-rendering: pixelated;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  & {
    background-image: url("../images/intro.png");
  }
  &:after {
    content: "";
    background-image: url("../images/introFg.png");
    animation: introFade 2s infinite step-end;
  }
  &:before {
    content: "CSS";
    display: block;
    position: absolute;
    top: 33%;
    left: 53%;
    font-size: 15vh;
    letter-spacing: 2vh;
    font-weight: 900;
    text-shadow: rgb(168, 0, 0) 0 -3px, rgb(168, 0, 0) -3px 0,
      rgb(168, 0, 0) 0 3px, rgb(168, 0, 0) 3px 0;
    animation: introHover 6s infinite ease-out;
  }
}
@keyframes introFade {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
}
@keyframes introHover {
  0% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(20deg);
  }
}

.fadeGroup {
  position: relative;
}
.fadeEnter,
.fadeEnterActive,
.fadeExit,
.fadeExitActive {
  transition: 0.3s ease opacity;
}
.fadeFixEnter,
.fadeFixEnterActive,
.fadeFixExit,
.fadeFixExitActive {
  transition: 3s ease opacity;
}
.fadeEnter,
.fadeFixEnter {
  opacity: 0;
}
.fadeEnterActive,
.fadeFixEnterActive {
  opacity: 1;
}
.fadeExitActive {
  opacity: 0;
  position: absolute;
  top: 0;
  height: 100% !important;
}
.fadeFixExitActive {
  opacity: 0;
}
