@import "./common.scss";

.mario:before,
.trees:before,
.trees:after,
.road:before,
.road:after,
.output:before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 1px;
  background: transparent;
}

$mario-height: 50px;
.mario {
  position: absolute;
  top: 113px;
  left: 96px;
  transform-origin: 0 50px;
  width: 37px;
  height: $mario-height;
  overflow: hidden;
  animation: driver-shake 0.1s infinite steps(2);
}

@keyframes driver-shake {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.97);
  }
}

$mario-frame-count: 5;
.mario:before {
  transform: scaleX(-1) translateX(-37px);
  box-shadow: $mario-spritesheet;
  animation: sprite-animate 2s infinite steps(#{$mario-frame-count - 1});
}

@keyframes sprite-animate {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: -#{$mario-height * ($mario-frame-count - 1)};
  }
  100% {
    margin-top: 0;
  }
}

.trees:before,
.trees:after {
  position: absolute;
  box-shadow: $trees;
  transform-origin: 16px 17px;
}
.trees:before {
  top: 92px;
  left: 12px;
  animation:
    tree-left-move 3s ease-in infinite,
    tree-fade 3s ease-in infinite;
}
.trees:after {
  top: 92px;
  left: 196px;
  animation:
    tree-right-move 3s ease-in infinite,
    tree-fade 3s ease-in infinite;
  animation-delay: -1s;
}

@keyframes tree-left-move {
  from {
    transform: translate(50px, -20px) scale(0.1);
  }
  to {
    transform: translate(-45px, 15px) scale(1);
  }
}
@keyframes tree-right-move {
  from {
    transform: translate(-50px, -20px) scale(0.1);
  }
  to {
    transform: translate(45px, 15px) scale(1);
  }
}
@keyframes tree-fade {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.road {
  position: absolute;
  top: 92px;
  width: 100%;
  height: 82px;
  overflow: hidden;
}
.road:before {
  background: transparent;
  box-shadow: $road-bg;
}
.road:after {
  background: $road-initial;
  box-shadow: $road;
  position: absolute;
  left: 109px;
  animation: road-move 0.5s infinite steps(3);
}

@keyframes road-move {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-246px);
  }
}

.output {
  height: 174px;
  width: 240px;
  transform: scale(3);
  transform-origin: top left;
  border: 3px solid black;
  overflow: hidden;
  position: relative;
}
.output:before {
  background: $bg-initial;
  box-shadow: $bg;
  position: absolute;
  top: 0;
  left: 0;
}
