.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  figcaption {
    margin-top: 3vh;
    font-size: 5vh;
  }
}

.box {
  position: relative;
  background: rgba(0, 0, 0, 0.4);
  width: 30vw;
  height: 30vh;
}

.actualSlider,
.exampleSlider {
  position: absolute;
  width: 2px;
  animation-name: example-slider;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.actualSlider {
  height: 120%;
  top: -10%;
  background: red;
}

.exampleSlider {
  height: 100%;
  top: 0;
  background: green;
  animation-timing-function: linear;
}

@keyframes example-slider {
  from {
    left: 0;
  }
  to {
    left: calc(100% - 2px);
  }
}
