.custom-slide {
  background: #282a36;
  color: #f8f8f2;
  width: 100%;
  height: 100%;
  line-height: 1.5;
  padding: 2vh 2vh 8vh;
  box-sizing: border-box;
  overflow: hidden;

  &:global(.light-mode) {
    background: #5b5d69;
  }

  h1 {
    border-bottom: 0.5vh solid currentColor;
    padding-bottom: 1rem;
    margin: 1rem 0 3rem;
    font-size: 9vh;
    line-height: 1;

    @media (max-width: 856px) {
      margin: 1rem 0;
    }
  }

  ul {
    font-size: 5vh;
  }

  hr {
    border-top: 0;
    width: 50%;
    border-color: currentColor;
    border-style: solid;
    border-top-width: 1vh;
    margin: 4vh 0;
  }

  code {
    background: #222;
    border: 1px solid #111;
    padding: 4px 8px;
  }

  a {
    color: #f92672;
    text-decoration: underline;
  }

  :global {
    .ReactCodeMirror .cm-s-reactpresents.CodeMirror {
      height: fit-content;
      width: fit-content;
      zoom: var(--code-zoom-amount, 2);
      border-radius: 0.5em;
      font-size: 1.5vh;

      .CodeMirror-line {
        overflow: hidden;
      }

      .highlight {
        display: inline-block;

        &:last-of-type {
          width: 100%;
        }
      }
    }
  }
}

.custom-slide:global(.light-mode) :global {
  .ReactCodeMirror {
    border-radius: 0.5em;
    overflow: hidden;
  }

  .ReactCodeMirror .cm-s-reactpresents.CodeMirror {
    background: #fff !important;
    color: #000 !important;

    div.CodeMirror-cursor {
      border-left: 3px solid #000000;
    }
    .CodeMirror-activeline-background {
      background: #0000001a;
    }
    .CodeMirror-selected {
      background: #bad6fd;
    }
    .cm-string {
      color: #c41a16;
    }
    .cm-number {
      color: null;
    }
    .cm-keyword {
      color: #aa0d91;
    }
    .cm-atom {
      color: null;
    }
    .cm-variable {
      color: #000000;
    }
    .cm-def {
      font-style: italic;
    }
    .cm-comment {
      color: #007400;
    }
    .cm-variable-2 {
      color: #881280;
    }
    .cm-property {
      color: null;
    }
    .cm-operator {
      color: #aa0d91;
    }
    .CodeMirror-linenumber {
      color: #007400;
    }
    .highlight {
      background: #e8f2ff;
    }
  }
}

.title-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  h1 {
    padding-right: 0 !important;
  }
}

.custom-slide + div {
  // this is the react-presents `TouchNav`, and I can't see that there's another
  // way to disable it :/
  button:disabled {
    opacity: 0.3;
  }

  @media (min-width: 856px) {
    display: none;
  }
}
